<div id="about">
    <h1>OUR TEAM</h1>
    <div id="abhi">

    <img src="assets/abhijeet.jfif" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
    -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
    <h3 style="text-align: center;">ABHIJEET TRIGUNAIT</h3>
    </div>
    <div>
    <img src="assets/karan1.jfif" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
    -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15); height: 250px; width: 250px;
    -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
    <h3 style="text-align: center;">KARAN AGARWAL</h3>
    </div>
    <div>
        <img src="assets/right.jpg" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
        -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
        -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15); height: 250px; width: 250px; margin-top: 4px;
        -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
        <h3 style="text-align: center;">AYUSH SINGH</h3>
        </div>
        <div>
            <img src="assets/babu.jfif" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
            -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
            -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15); height: 250px; width: 250px; margin-top: 4px;
            -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
            <h3 style="text-align: center;">MANGAL KUMAR PANDEY</h3>
            </div>
</div>