<div id="remedies">
    <div>
    <img src="assets/corona.jpg" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
    -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
    <p>
        Coronaviruses are zoonotic, meaning they are transmitted between animals and people.  Detailed investigations found that SARS-CoV was transmitted from civet cats to humans and MERS-CoV from dromedary camels to humans. Several known coronaviruses are circulating in animals that have not yet infected humans. 

Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney failure and even death. 
    </p>
    <hr style="width: 800px; padding: 2px; ">
    </div>
    <div>
        <img src="assets/typhoid-fever-1.jpg" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
    -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
    <p>
        Typhoid fever is contracted by drinking or eating the bacteria in contaminated food or water. People with acute illness can contaminate the surrounding water supply through stool, which contains a high concentration of the bacteria. Contamination of the water supply can, in turn, taint the food supply. The bacteria can survive for weeks in water or dried sewage.

About 3%-5% of people become carriers of the bacteria after the acute illness. Others suffer a very mild illness that goes unrecognized. These people may become long-term carriers of the bacteria -- even though they have no symptoms -- and be the source of new outbreaks of typhoid fever for many years.

    </p>
    <hr style="width: 800px; padding: 2px; ">

    </div>
    <div>
        <img src="assets/tu.jpg" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
    -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
    <p>
        Sinus and ear infections are examples of moderate complications from flu, while pneumonia is a serious flu complication that can result from either influenza virus infection alone or from co-infection of flu virus and bacteria. Other possible serious complications triggered by flu can include inflammation of the heart (myocarditis), brain (encephalitis) or muscle (myositis, rhabdomyolysis) tissues, and multi-organ failure (for example, respiratory and kidney failure). Flu virus infection of the respiratory tract can trigger an extreme inflammatory response in the body and can lead to sepsis, the body’s life-threatening response to infection. Flu also can make chronic medical problems worse. For example, people with asthma may experience asthma attacks while they have flu, and people with chronic heart disease may experience a worsening of this condition triggered by flu.
    </p>
    <hr style="width: 800px; padding: 2px; ">

    </div>

    <div>
        <img src="assets/cold.jpg" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
    -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
    <p>
        The common cold is a viral infection of your nose and throat (upper respiratory tract). It's usually harmless, although it might not feel that way. Many types of viruses can cause a common cold.

Children younger than 6 are at greatest risk of colds, but healthy adults can also expect to have two or three colds annually.

Most people recover from a common cold in a week or 10 days. Symptoms might last longer in people who smoke. If symptoms don't improve, see your doctor.
    </p>
    <hr style="width: 800px; padding: 2px; ">

    </div>
  
</div>