<div id="home">
   <div>
    <img src="assets/Grey Box Photography Logo.png" style="box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -moz-box-shadow: 10px 10px 5px rgb(15, 15, 15);
    -webkit-box-shadow: 10px 10px 5px  rgb(15, 15, 15);
    -khtml-box-shadow: 10px 10px 5px  rgb(15, 15, 15) ">
    <p>
    Reliable health information written at a lower reading level, with sections for children, teens, and seniors. All information is written and reviewed by physicians and patient education professionals at the American Academy of Family Physicians.  Search conditions and diseases by name, symptom, or age most commonly affected. Provides many helpful health tools, such as a symptom checker, dictionary, BMI calculator, an immunization schedule, plus drug information and health management advice.
   healthfinder®
   Reliable information from approximately 1,400 health-related organizations. Includes tools for finding health services and support, National Health Observances toolkits, and information about health care reform.
   </p> 
   <br>
    <p>
        Website features: The "Diseases and Conditions" section covers major chronic and many infectious diseases, plus birth defects, traveler's health, emergency preparedness, vaccine and immunization information, accidents and injury information, and workplace safety and health
    </p>
    </div>
    
   
</div>

